{% extends "basic_layout.html" %}
{% load staticfiles %}
{% block content %}

    <script>
        $(document).ready(function ()
        {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
        
        function access_patient(tr) {
            window.location.href = "http://localhost:8000/doctor_statistics?nif=" + tr.childNodes[5].textContent;
        }
    </script>


<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">

            <h1>Doctors List</h1>
            <div class="col-lg-12">

                <div class="table-responsive ">
                    <table id="dtBasicExample"
                        class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th class="text-center">Birth Date</th>
                                <th class="text-center">NIF</th>
                                <th>E-mail</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in doctors %}
                            <tr onclick="access_patient(this)">
                                <td>{{ d.user.first_name }} {{ d.user.last_name }}</td>
                                <td class="text-center">{{ d.birth_date }}</td>
                                <td class="text-center">{{ d.nif }}</td>
                                <td>{{ d.user.username }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}